/* mobile: up to 768px
tablet: from 769px
desktop: from 1024px
widescreen: from 1216px
fullhd: from 1408px */


.wrapper{
    display: flex;
    justify-content: space-around;
}
.square{
    width: 200px;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.square:nth-child(1){
    background-color: red;
}
.square:nth-child(2){
    background-color: blue;
}
.square:nth-child(3){
    background-color: green;
}
article{
    display: flex;
}
article p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
     /* font-size: 24px; */
}

/* On screens that are 992px or less, set the background color to blue */
/* mobile */
@media screen and (max-width: 768px) {

    .wrapper{
        flex-direction: column;
        align-items: center;
       
    }
    /* body{
        background-color: #fff !important;
    } */
    article{
        flex-direction: column;
    }

  }


/* tablet */
@media screen and (min-width:769px) and (max-width:1025px) {
    body {
      background-color: blue;
    }
    article{
        flex-direction: column;
    }
  }

/* desktop  to fullHD*/
@media screen and (min-width: 1026px) and (max-width:1400px) {
    body {
      background-color: red;
    }
  }

